html,body{
    margin:0;
}

body{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    height:100vh;
    background-color: #1F2937; 
}

.section1{
    min-height: 50vh;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F9FAF8;
    padding: 8px 0;
}

.logo{
    font-size: 24px;
    font-weight: 600;
}

ul{
    padding: 0;
    margin: 0;
    gap: 10px;
    display: flex;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.content{
    color:#F9FAF8;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    gap: 50px;
}

.hero{
    text-align: left;
    max-width: 550px;
    width: 100%;
}

.h1{
    font-size: 48px;
    font-weight: 900;
}

.hero-text,a{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text{
    margin: 10px 0;
}
img {
  max-width: 100%;
  height: auto;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

footer{
    display: flex;
    height: 70px;
    border: red solid;
    justify-content: center;
    align-items: center;
}

.section2{
    background-color: white;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    gap:32px;
}

.box{
    border: 3px #3882F6 solid;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:200px;
}